@import url('https://fonts.googleapis.com/css?family=Muli:400,700');

body {
    background: url('https://raw.githubusercontent.com/julienshim/freeCodeCamp/master/Responsive%20Web%20Design%20Projects/Product%20Landing%20Page/assets/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Muli', sans-serif;
    font-size: 12px;
    text-align: justify;
}

h1 {
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    color: #fff;
    letter-spacing: 2px;
    font-size: 24px;
    font-weight: 700px;
}

h2 {

    font-size: 24px;
    font-weight: 700;
}

h2.section-header {
    /* margin-top: 140px; */
    margin-bottom: 30px;
}

h3 {
    font-size: 20px;
    font-weight: 700;
        margin: 24px 0 12px;

}

h4 {
    font-size: 16px; 
    margin: 24px 0 12px;
}


/* Header & Navigation Bar */
/* User Story #13: The navbar should always be at the top of the viewport. */
header {
    position: fixed;
    top: 1%;
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.nav-link { 
    margin-left: 40px;
}

#header-img {
    height: 14px;
    display: inline-block;
    margin-top: 10px;
    margin-left: 35px;
}

#splash, #specifications, #images, #pricing, #expect-the-unexpected {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

svg#shopping-cart {
    margin-left: 40px;
}

/* Splash Section */

#splash {
    background-image: linear-gradient(rgba(0,0,0,0.1), rgba(130,130,130,0.1));
}

/* Specifications */

#specifications {
    background-color: #828282;
}

#spec-outer {
    margin: 0 120px;
    /* border: 1px solid yellow; */
}  

#spec-shell {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, minmax(350px, 1fr));
}

.camera-spec {
 width: 100%;
 display: block;
 margin: 0 auto;
}

#camera-spec-container {
    order: 2;
    /* border: 1px solid pink; */
}

#specifications-container {
    order: 1;
    /* border: 1px solid purple; */
}

#specs {
    font-weight: 700;
    margin-left: 14px;
    /* font-size: 14px; */
}

#dimensions {
    margin-left: 14px;
}

/* Images Section */

#images, #pricing {
    background-color: #F3F3F3;
}

/* User Story #15: My product landing page should utilize CSS flexbox at least once. */
nav ul {
    display: flex;
    margin-right: 35px;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
    font-size: 14px;
}



/* Splash Section */

#pricing-outer {
    margin: 0 120px;
    /* border: 1px solid yellow; */
}  

#pricing-shell {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, minmax(350px, 1fr));
}

#camera-pricing-container {
    margin: 142px 40px 0 0;
}

/* Expect The Unexpected */

.resp-iframe {
    /* position: absolute; */
    /* top: 0;
    left; 0; */
    width: 67vw;
    height: 37.69vw;
    /* padding: 0 120px; */
    border: 0;
    /* marginwidth: 120px; */
    }


    #expect-the-unexpected {
        height: 80vh;
        background-color: #F3F3F3;
    
    }
    
    #images {
        height: 100vh;
        background-color: #F3F3F3;
    
    }
    
    
    #images-outer {
        margin: 0 120px;
        /* border: 1px solid yellow; */
    }  
    
    #images-shell {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, minmax(250px, 1fr));
    }
    
    #digifilm-desc {
        margin: 0 0 20px 0;
    
    }
    
    .digfilm {
        width: 100%;
    }
    
    .digifilm-container {
        margin: 20px;
    }
    
    .film-caption {
        background-color: peachpuff;
    }
    

/* Pricing */

svg#dcolor {
    fill: #cacaca;
    border: 1px solid black;
    border-radius: 50%;
}

svg#ucolor {
    fill: #dc6400;
    border: 1px solid black;
    border-radius: 50%;
}

svg#bcolor {
    fill: #3c3c3c;
    border: 1px solid black;
    border-radius: 50%;
}

#pricing-shell #specifications-container ul {
    display: flex;

    margin-top: 10px;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
    font-size: 14px;
}

#pricing-shell #specifications-container ul li { 
    margin-left: 6px;
}

#price {
    font-size: 24px;
    font-weight: 700;
    margin-top: 20px;
}

/* Contact */

#contact {
    height: 200px;
    text-align: center;
}

#submit {
    background-color: black; 
    color: white; 
    height: 22px; 
    width: 66px;
}

#contact h1 {
    margin: 40px 0 20px 0;
}

::-webkit-input-placeholder {
    padding-left: 6px;
  }
  ::-moz-placeholder {
    padding-left: 6px;
  }
  :-ms-input-placeholder {
    padding-left: 6px;
  }
  :-moz-placeholder {
    padding-left: 6px;
  }

/* Links */

a:link, a:visited, a:active, a:hover {
    color: #000;
    text-decoration: none;
    font-weight: bold;
}

/* Footer */

footer {
    padding: 4px 0;
    background-color: #dc6400;
    color: #f0f0f0;
    font-size: 12px;
    text-align: center;
    margin-top: 20px;
}

/* User Story #14: My product landing page should have at least one media query. */

@media only screen and (max-width: 414px) {

    #header-img {
        height: 18px;
        padding-bottom: 3px;
    }

    li.nav-link-text {
        display: none;
    }
    
  
    #spec-shell, #images-shell, #pricing-shell {
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    }

    #specifications, #images, #pricing, #expect-the-unexpected {
        /* height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; */
        background-color: #F3F3F3;
        padding: 60px 0;
        height: auto;
        overflow: hidden;
    }

    #camera-pricing-container {
        margin: 0;
    }

}

@media only screen and (min-width: 415px) and (max-width: 768px) {
  
    #spec-shell, #images-shell {
        grid-template-columns: repeat(2, minmax(350px, 1fr));
    }

    #camera-spec-container {
        order: 2;
    }
    
    #specifications-container {
        order: 1;
    }
}

@media only screen and (min-width: 1024px) {

    #specifications {
        box-shadow: inset 0 0 1000px #626262;
    }
  
    #spec-outer, #images-outer, #pricing-outer {
        max-width: 920px;
    }

    .resp-iframe {
        width: 720px;
        height: 405px;
    }

    #expect-the-unexpected {
        height: 500px;
        /* background-color: purple; */
    }

}